<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [72]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [73]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd

Download the webpage at the url

In [197]:
response = requests.get(url)
if response.ok:
    response = response.text
else:
    print("Error while connecting to api\n")
    response = None

In [198]:
#training, don't pay attention here
"""
table = soup.find("table")
print(table.find_all("tr")[0].find_all('td')[0].text)
print(type(table.find_all("tr")[0].find_all('td')))
"""

'\ntable = soup.find("table")\nprint(table.find_all("tr")[0].find_all(\'td\')[0].text)\nprint(type(table.find_all("tr")[0].find_all(\'td\')))\n'

Create a soup object

In [199]:
soup = bs(response, "html.parser")

In [200]:
#getting columns indexes in case of chaning column sequence and creating data frame
headers = list()
table = soup.find("table")
headers_set = table.find("tr").find_all("td")
for i, header in enumerate(headers_set):
    if (header.text == 'Language'):
        lang_index = i
    elif (header.text == 'Average Annual Salary'):
        salary_index = i
        
headers = list()
headers.append(headers_set[lang_index].text)
headers.append(headers_set[salary_index].text)
df = pd.DataFrame(columns=headers)

Scrape the `Language name` and `annual average salary`.

In [201]:
for row in table.find_all("tr")[1:]: #slicing technique to skip header
    lang_name = row.find_all("td")[lang_index].text
    lang_salary = row.find_all("td")[salary_index].text
    #print(f"{lang_name}\t{lang_salary}\n")
    df.loc[len(df)] = [lang_name, lang_salary]
    
    
df.set_index('Language', inplace=True)

Save the scrapped data into a file named *popular-languages.csv*

In [202]:
# your code goes here
df.to_csv('popular-languages.csv')

In [203]:
#to get statistics for convenience
df['Average Annual Salary'] = df['Average Annual Salary'].str.replace(r'[$,]', '', regex=True)
df['Average Annual Salary'] = df['Average Annual Salary'].astype('float')
df.describe()

       Average Annual Salary
count              10.000000
mean           101540.800000
std             15404.656387
min             84727.000000
25%             89553.750000
50%             97547.500000
75%            113144.000000
max            130801.000000

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).