<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [109]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [110]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [111]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [112]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [204]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [205]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")
df.shape

(11552, 85)

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [208]:
# your code goes here
dup = df[df.duplicated()]
dup.head(5)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
1168,2339,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1169,2342,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,Some college/university study without earning ...,"Information systems, information technology, o...",...,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Easy
1170,2343,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Canada,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,27.0,Man,No,Straight / Heterosexual,Black or of African descent;White or of Europe...,No,Appropriate in length,Neither easy nor difficult
1171,2344,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1172,2347,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Woman,No,Straight / Heterosexual,Biracial,No,Too long,Easy

In [209]:
#playing with series
my_df = df['Respondent'][df['Respondent'].duplicated()]
my_df.head(5)

1168    2339
1169    2342
1170    2343
1171    2344
1172    2347
Name: Respondent, dtype: int64

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [210]:
# your code goes here
df.drop(dup.index, axis=0, inplace=True)
df.shape

(11398, 85)

Verify if duplicates were actually dropped.

In [211]:
# your code goes here
dup = df[df.duplicated()]
dup

Empty DataFrame
Columns: [Respondent, MainBranch, Hobbyist, OpenSourcer, OpenSource, Employment, Country, Student, EdLevel, UndergradMajor, EduOther, OrgSize, DevType, YearsCode, Age1stCode, YearsCodePro, CareerSat, JobSat, MgrIdiot, MgrMoney, MgrWant, JobSeek, LastHireDate, LastInt, FizzBuzz, JobFactors, ResumeUpdate, CurrencySymbol, CurrencyDesc, CompTotal, CompFreq, ConvertedComp, WorkWeekHrs, WorkPlan, WorkChallenge, WorkRemote, WorkLoc, ImpSyn, CodeRev, CodeRevHrs, UnitTests, PurchaseHow, PurchaseWhat, LanguageWorkedWith, LanguageDesireNextYear, DatabaseWorkedWith, DatabaseDesireNextYear, PlatformWorkedWith, PlatformDesireNextYear, WebFrameWorkedWith, WebFrameDesireNextYear, MiscTechWorkedWith, MiscTechDesireNextYear, DevEnviron, OpSys, Containers, BlockchainOrg, BlockchainIs, BetterLife, ITperson, OffOn, SocialMedia, Extraversion, ScreenName, SOVisit1st, SOVisitFreq, SOVisitTo, SOFindAnswer, SOTimeSaved, SOHowMuchTime, SOAccount, SOPartFreq, SOJobs, EntTeams, SOComm, WelcomeChange, SONewContent, Age, Gender, Trans, Sexuality, Ethnicity, Dependents, SurveyLength, SurveyEase]
Index: []

[0 rows x 85 columns]

In [214]:
len(df['Respondent'].unique())

11398

## Finding Missing values

Find the missing values for all columns.

In [219]:
print(df['EdLevel'].isnull().sum())
print(df['Country'].isnull().sum())

112
0

In [216]:
# your code goes here
df.isnull().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [217]:
# your code goes here
df['WorkLoc'].isnull().sum()

32

In [163]:
miss_rows_mask = df['WorkLoc'].isnull()

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [164]:
# your code goes here
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [228]:
#finding minimum 
df['UndergradMajor'].value_counts()[df['UndergradMajor'].value_counts() == df['UndergradMajor'].value_counts().min()].index.tolist()[0]

'A health science (ex. nursing, pharmacy, radiology)'

In [165]:
#make a note of the majority value here, for future reference
most_freq = df['WorkLoc'].mode()[0]
most_freq

'Office'

In [168]:
#checking correct values
df_miss_rows = df[miss_rows_mask]
df_miss_rows['WorkLoc']

130      Office
242      Office
866      Office
1455     Office
1753     Office
2339     Office
2689     Office
2788     Office
3165     Office
3213     Office
3690     Office
3996     Office
4944     Office
5654     Office
5671     Office
5824     Office
6321     Office
7361     Office
7557     Office
7714     Office
7779     Office
8010     Office
8188     Office
8855     Office
9066     Office
9070     Office
10219    Office
10709    Office
10951    Office
11253    Office
11331    Office
11521    Office
Name: WorkLoc, dtype: object

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [167]:
# your code goes here
df['WorkLoc'] = df['WorkLoc'].fillna(most_freq)
#run previous line again to check correct data

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [126]:
# your code goes here
df['WorkLoc'].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [169]:
# your code goes here
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

In [234]:
df.loc[df['CompFreq'] == 'Yearly'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6073 entries, 0 to 11550
Data columns (total 85 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Respondent              6073 non-null   int64
 1   MainBranch              6073 non-null   object
 2   Hobbyist                6073 non-null   object
 3   OpenSourcer             6073 non-null   object
 4   OpenSource              6038 non-null   object
 5   Employment              6073 non-null   object
 6   Country                 6073 non-null   object
 7   Student                 6060 non-null   object
 8   EdLevel                 6025 non-null   object
 9   UndergradMajor          5776 non-null   object
 10  EduOther                6005 non-null   object
 11  OrgSize                 6028 non-null   object
 12  DevType                 6030 non-null   object
 13  YearsCode               6069 non-null   object
 14  Age1stCode              6067 non-null   object
 15  YearsCodePro            6064 non-null   object
 16  CareerSat               6073 non-null   object
 17  JobSat                  6073 non-null   object
 18  MgrIdiot                5745 non-null   object
 19  MgrMoney                5743 non-null   object
 20  MgrWant                 5744 non-null   object
 21  JobSeek                 6073 non-null   object
 22  LastHireDate            6073 non-null   object
 23  LastInt                 5869 non-null   object
 24  FizzBuzz                6053 non-null   object
 25  JobFactors              6071 non-null   object
 26  ResumeUpdate            6062 non-null   object
 27  CurrencySymbol          6073 non-null   object
 28  CurrencyDesc            6073 non-null   object
 29  CompTotal               5992 non-null   float64
 30  CompFreq                6073 non-null   object
 31  ConvertedComp           5992 non-null   float64
 32  WorkWeekHrs             6051 non-null   float64
 33  WorkPlan                5998 non-null   object
 34  WorkChallenge           5982 non-null   object
 35  WorkRemote              6070 non-null   object
 36  WorkLoc                 6051 non-null   object
 37  ImpSyn                  6071 non-null   object
 38  CodeRev                 6072 non-null   object
 39  CodeRevHrs              4937 non-null   float64
 40  UnitTests               6061 non-null   object
 41  PurchaseHow             5963 non-null   object
 42  PurchaseWhat            6061 non-null   object
 43  LanguageWorkedWith      6066 non-null   object
 44  LanguageDesireNextYear  5998 non-null   object
 45  DatabaseWorkedWith      5805 non-null   object
 46  DatabaseDesireNextYear  5432 non-null   object
 47  PlatformWorkedWith      5839 non-null   object
 48  PlatformDesireNextYear  5748 non-null   object
 49  WebFrameWorkedWith      5267 non-null   object
 50  WebFrameDesireNextYear  5113 non-null   object
 51  MiscTechWorkedWith      4928 non-null   object
 52  MiscTechDesireNextYear  5236 non-null   object
 53  DevEnviron              6058 non-null   object
 54  OpSys                   6059 non-null   object
 55  Containers              6034 non-null   object
 56  BlockchainOrg           4975 non-null   object
 57  BlockchainIs            4876 non-null   object
 58  BetterLife              6019 non-null   object
 59  ITperson                6050 non-null   object
 60  OffOn                   6047 non-null   object
 61  SocialMedia             5922 non-null   object
 62  Extraversion            6060 non-null   object
 63  ScreenName              5843 non-null   object
 64  SOVisit1st              5922 non-null   object
 65  SOVisitFreq             6072 non-null   object
 66  SOVisitTo               6073 non-null   object
 67  SOFindAnswer            6072 non-null   object
 68  SOTimeSaved             6045 non-null   object
 69  SOHowMuchTime           5001 non-null   object
 70  SOAccount               6073 non-null   object
 71  SOPartFreq              5440 non-null   object
 72  SOJobs                  6071 non-null   object
 73  EntTeams                6070 non-null   object
 74  SOComm                  6073 non-null   object
 75  WelcomeChange           6033 non-null   object
 76  SONewContent            4865 non-null   object
 77  Age                     5929 non-null   float64
 78  Gender                  6036 non-null   object
 79  Trans                   6021 non-null   object
 80  Sexuality               5826 non-null   object
 81  Ethnicity               5780 non-null   object
 82  Dependents              6010 non-null   object
 83  SurveyLength            6062 non-null   object
 84  SurveyEase              6065 non-null   object
dtypes: float64(5), int64(1), object(79)
memory usage: 2.2+ MB

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [235]:
# your code goes here
df['NormalizedAnnualCompensation'] = None

df.loc[df['CompFreq'] == 'Yearly', 'NormalizedAnnualCompensation'] = df['CompTotal']
df.loc[df['CompFreq'] == 'Monthly', 'NormalizedAnnualCompensation'] = df['CompTotal'] * 12
df.loc[df['CompFreq'] == 'Weekly', 'NormalizedAnnualCompensation'] = df['CompTotal'] * 52

In [236]:
#checking
df.loc[df['CompFreq'] == 'Weekly', ['CompFreq','CompTotal', 'NormalizedAnnualCompensation']]

      CompFreq  CompTotal NormalizedAnnualCompensation
12      Weekly     2000.0                     104000.0
13      Weekly    22000.0                    1144000.0
46      Weekly    67800.0                    3525600.0
76      Weekly   137000.0                    7124000.0
135     Weekly        NaN                          NaN
...        ...        ...                          ...
11401   Weekly    90000.0                    4680000.0
11407   Weekly     2250.0                     117000.0
11417   Weekly    65000.0                    3380000.0
11430   Weekly    90000.0                    4680000.0
11443   Weekly     2880.0                     149760.0

[331 rows x 3 columns]

In [172]:
#checking how much empty values for normalized column
df['NormalizedAnnualCompensation'].isnull().sum()

815

In [ ]:
#removing them (optional)
missing_series = df['NormalizedAnnualCompensation'][[df['NormalizedAnnualCompensation'].isnull()]]
df_new = df.drop(missing_series.index, axis=0, inplace=False)
df_new

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).